@import "../../styles/variables";

.userList {
  width: 100%;
}

.userList > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.userList > ul > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 17px;

  + li {
    border-top: 1px solid $grey;
  }
}

.toolbar {
  margin-bottom: 10px;
  display: flex;
}

.toolbar > *:last-child {
  margin-left: auto;
}
